@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>CyberN Systems</h1>
    <p class="lead">Software Developed by: Amit Kumar</p>
    <p> Bhagalpur Road, Dumka (Jharkhand) - 814101</p>
    <p><a href="http://www.nih.nic.in/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="bg-success col-lg-offset-4">


    <h3><p class="glyphicon-alert">Calcutta Homeo Clinic is headed by Dr. Shayam Manohar of Siwan.</p></h3>
    <h4><p class="glyphicon-alert" >Graduated from<a href="http://www.nih.nic.in/"> NIH Kolkata, WB</a>.  He has more then Seven years of exp in Medical field.</p></h4>
    <br />
    
</div>
