@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Calcutta Homeo Clinic is headed by Dr. Shayam Manohar of Siwan.</p>
<br />
<p>Calcutta Homeo Clinic is developed by Amit Kumar(CyberN Systems)</p>

