@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dr. Shayam Manohar<br />
    Sonar Gali No 2, Near Shanti Vat<br />
    Siwan, Bihar 814266<br />
    <abbr title="Phone">P:</abbr>
    9797999799
</address>

<address>
    <strong>Query:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Appointment:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>