@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dr. Shyam Manohar</h1>
    <p class="lead">Graduated from NIH Kolkata, WB.  He has more then Seven years of exp in Medical field.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For Appointment</h2>
        <p>
            Kindly Click to book appointment with Dr. Shyam Manohar.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List Of Patient</h2>
        <p>List of all Patient under Dr. Shyam Manohar.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Balance Sheet</h2>
        <p>Today Earning Rs. 10000.</p>
        <p>This Month Earning Rs. 100000.</p>
        <p>This Year Earning Rs. 1100000.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>